@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 35%;
    background-color: #bdc3c7;
    padding: 4em;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 97.5%,
}

h1 {
    font-family: 'PT Serif', serif;
    color: white;
    text-shadow: 1px 3px 4px rgba(33,14,9,0.55);
}

.spanResult {
    background: linear-gradient(45deg, #214f7c 30%, #337ab7 90%);
    text-shadow: 1px 3px 4px rgba(33,14,9,0.55);   
} 

.h1Result {
    text-align: center;
}

.input {
    width: 15em;
    margin: 1em;
}

label {
    color: 'yellow'
}

label.focused {
    color: 'red'
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: auto;
        background-color: #bdc3c7;
        padding: 4em;
        flex-direction: column;
        justify-content: center;
    }
}